<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionLeft"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand glyphiconPositionRight" href="#">
            <div class="navbar-header">
                <a class="navbar-brand white-color" href="#">Choose Widget</a>
            </div>
        </a>
    </div>

</nav>

<div id="list" class="container-fluid">
    <ul class="list-unstyled">

        <li class="blue-color">
            <a ng-click="model.createWidget('HEADER')">Header</a>
        </li>

        <li>
            <a class="blue-color">Label</a>
        </li>
        <li>
            <a class="blue-color">HTML</a>
        </li>
        <li>
            <a class="blue-color">Text Input</a>
        </li>
        <li>
            <a class="blue-color">Link</a>
        </li>
        <li>
            <a class="blue-color">Button</a>
        </li>
        <li>
            <a ng-click="model.createWidget('IMAGE')"class="blue-color">Image</a>
        </li>
        <li>
            <a ng-click="model.createWidget('YOUTUBE')" class="blue-color">YouTube</a>
        </li>
        <li>
            <a class="blue-color">Date Table</a>
        </li>
        <li>
            <a class="blue-color">Repeater</a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionRight" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue-color"></span>
        </a>
    </div>
</nav>

