<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3 navbar-collapsed">
                <a class="navbar-brand glyphiconPositionLeft white-color"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand white-color hidden-xs">Pages</a>
                <a class="navbar-brand hidden-xs glyphiconPositionRight white-color "
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class=" glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-sm-9 col-md-9 navbar-collapsed">
                <a class="navbar-brand glyphiconPositionLeft white-color">New Page</a>
                <a class="navbar-brand glyphiconPositionRight white-color" ng-click ="model.createPage(page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 hidden-xs">
            <ul class="list-unstyled left-colon">
                <li ng-repeat="page in model.pages">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
                       class="gray-color">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/">
                        <span class="glyphicon glyphicon-cog glyphiconPositionRight"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-play glyphiconPositionRight-leave10"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-md-9">

            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="page.name" type="text" class="form-control" id="name"
                       placeholder="Page Name">
                <label for="title">Description</label>
                <input ng-model="page.description" type="text" class="form-control" id="title"
                       placeholder="Page Title">
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionRight" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user blue-color"></span>
        </a>
    </div>
</nav>