
<nav class="navbar navbar-fixed-top navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionLeft puple-color" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon glyphicon-home"></span>
        </a>
        <a class="navbar-brand col-m-6 glyphiconPositionRight puple-color" href="#/user/{{model.userId}}/website/new">
            <span class=" glyphicon glyphicon glyphicon-cog"></span>
            <div class="navbar-header">
                <a class="navbar-brand puple-color" href="#/user/{{model.userId}}/website/">GreatNeighborhood</a>
            </div>
        </a>
    </div>

</nav>
<div class="jumbotron">

<div class="container-fluid box img-responsive" >

    <h1 style="color:white">Find your Neighborhood</h1>
    <h3 style="color:white">Discover the schools and neighborhoods that are right for you.</h3>
    <div class="input-group">
        <input ng-model="model.title" type="text" class="form-control" placeholder="Enter a city, address, ZIP ...">
        <span class="input-group-btn">
            <button ng-click="model.search(model.title)" class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
</div>
    <div>
        <iframe width="600" height="450" src="http://www.openheatmap.com/embed.html?map=ParaphraseZephyranthMehitabels" ></iframe>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<nav class="navbar bg-warning navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionRight" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user puple-color"></span>
        </a>

    </div>
</nav>

