<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>
<script src="//www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<script src="//www.amcharts.com/lib/3/maps/js/worldLow.js"></script>

<nav class="navbar navbar-fixed-top navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionLeft puple-color" href="#/user/{{model.userId}}/search">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand col-m-6 glyphiconPositionRight puple-color" href="#/user/{{model.userId}}">
            <span class=" glyphicon glyphicon-user" href="#/user/{{model.userId}}"></span>
            <div class="navbar-header">
                <a class="navbar-brand puple-color" href="#/user/{{model.userId}}/website/">Websites</a>
            </div>
        </a>
    </div>

</nav>


<div class="row inMeddle">

    <div class="col-sm-3 col-md-3 hidden-xs">
        <ul class="list-unstyled left-colon">
            <li><a href="#/user/{{model.userId}}/result/{{model.street}}/{{model.city}}/{{model.state}}"><btn class = "btn btn-lg btn-warning btn-block">Map</btn></a></li>
            <li><a href="#/user/{{model.userId}}/weather/{{model.street}}/{{model.city}}/{{model.state}}/{{model.addressId}}"><btn class = "btn btn-lg btn-warning btn-block">Weather</btn></a></li>
            <li><a href="#/user/{{model.userId}}/school/{{model.street}}/{{model.city}}/{{model.state}}/{{model.addressId}}"><btn class = "btn btn-lg btn-warning btn-block">School</btn></a></li>
            <li><a href="#/user/{{model.userId}}/hospital/{{model.street}}/{{model.city}}/{{model.state}}/{{model.addressId}}"><btn class = "btn btn-lg btn-warning btn-block">Hospital</btn></a></li>
            <li><a href="#/user/{{model.userId}}/restaurant/{{model.street}}/{{model.city}}/{{model.state}}/{{model.addressId}}"><btn class = "btn btn-lg btn-warning btn-block">Restaurant</btn></a></li>
            <li><a href="#/user/{{model.userId}}/market/{{model.street}}/{{model.city}}/{{model.state}}/{{model.addressId}}"><btn class = "btn btn-lg btn-warning btn-block">Market</btn></a></li>
            <!--{{model.userId}}-->
            <!--{{model.addressId}}-->
        </ul>
    </div>

    <div class="col-sm-9 col-md-9">


        <div id="chartdiv"></div>

        <h3>{{model.weather.current_observation.weather}}</h3>
        <img  width="150" height="150" class="img-responsive"
              ng-src="{{model.weather.current_observation.icon_url}}" alt="Sample Image"/>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>State</th>
                <th>City</th>
                <th>Zip</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{model.weather.current_observation.display_location.state_name}}</td>
                <td>{{model.weather.current_observation.display_location.city}}</td>
                <td>{{model.weather.current_observation.display_location.zip}}</td>
                <td>{{model.weather.current_observation.display_location.latitude}}</td>
                <td>{{model.weather.current_observation.display_location.longitude}}</td>
            </tr>
            </tbody>
        </table>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Weather Description</td>
                <td>{{model.weather.current_observation.icon}}</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{model.weather.current_observation.temperature_string}}</td>
            </tr>
            <tr>
                <td>Wind Speed</td>
                <td>{{model.weather.current_observation.wind_string}}</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>{{model.weather.current_observation.pressure_mb}}</td>
            </tr>
            <tr>
                <td>Relative Humidity</td>
                <td>{{model.weather.current_observation.relative_humidity}}</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>{{model.weather.current_observation.visibility_mi}}</td>
            </tr>
            <tr>
                <td>Weather Description</td>
                <td><a class = "btn btn-warning" href="{{model.weather.current_observation.forecast_url}}">Forecast</a></td>
            </tr>
            </tbody>
        </table>


    </div>
</div>



<script>

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "autoMarginOffset": 30,
        "dataProvider": [{
            "country": "Washington D. C.",
            "visits": 46,
            "color": "#CD0D74"
        },{
            "country": "Atlanta",
            "visits": 53,
            "color": "#FF0F00"
        }, {
            "country": "Austin",
            "visits": 48,
            "color": "#FF6600"
        }, {
            "country": "Boston",
            "visits": 41,
            "color": "#FF9E01"
        }, {
            "country": "Chicago",
            "visits": 27,
            "color": "#FCD202"
        }, {
            "country": "Columbus",
            "visits": 38,
            "color": "#F8FF01"
        }, {
            "country": "Dallas",
            "visits": 49,
            "color": "#B0DE09"
        }, {
            "country": "Denver",
            "visits": 19,
            "color": "#04D215"
        }, {
            "country": "Filadelfia",
            "visits": 43,
            "color": "#0D8ECF"
        }, {
            "country": "Houston",
            "visits": 55,
            "color": "#0D52D1"
        }, {
            "country": "Indianápolis",
            "visits": 32,
            "color": "#2A0CD0"
        }, {
            "country": "Lincoln",
            "visits": 21,
            "color": "#8A0CCF"
        }, {
            "country": "Los Ángeles",
            "visits": 57,
            "color": "#CD0D74"
        }, {
            "country": "New York",
            "visits": 43,
            "color": "#CD0D74"
        }, {
            "country": "Phoenix",
            "visits": 59,
            "color": "#CD0D74"
        }, {
            "country": "San Diego",
            "visits": 59,
            "color": "#CD0D74"
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": 45
        },
        "allLabels": [{
            "text": "Cities",
            "x": "!20",
            "y": "!20",
            "width": "50%",
            "size": 15,
            "bold": true,
            "align": "right"
        }, {
            "text": "Temperature Fahrenheit",
            "rotation": 270,
            "x": "10",
            "y": "10",
            "width": "50%",
            "size": 15,
            "bold": true,
            "align": "right"
        }]

    });
</script>
