<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand col-m-6 glyphiconPositionRight white-color" href="#/user/{{model.user._id}}">
            <span class=" glyphicon glyphicon-ok"></span></a>
        <div class="navbar-header">
            <a class="navbar-brand white-color" href="#">Project name</a>
        </div>
    </div>

</nav>


<div class="container">
    <br>
    <br>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
             <input ng-model = "model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model = "model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model = "model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#login">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand glyphiconPositionRight white-color" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>
